@import '../base/utility-classes.scss';
@import '../base/variables2.scss';

.breadcrumblist {
    margin: 10px;
    
    ol {
        @include removeUlButtons();
        display: flex;

        li {
            font-size: 14px;
        }
    }
}