@import '../base/utility-classes.scss';
@import '../base/variables2.scss';

.breadcrumblist {
    @include removeUlButtons();
    display: flex;
    flex-wrap: wrap;
    margin: 10px;

    li {
        font-size: 14px;
        
    }

    &-divider {
        margin: 0 3px;
    }
}