@import '../base/utility-classes.scss';
@import '../base/variables2.scss';

.share {
    

    ul {
        @include removeUlButtons();
        display: flex;
        justify-content: flex-end;
        margin-bottom: -18px;

        li {
            text-align: right;
            width: 80px;
            margin-left: 10px;

            i {
                color: white;
                padding: 7px 0px;
                text-align: center;
                border-radius: 2px;
                display: block;
            }

            .fa-facebook-f {
                background-color: $facebook;
            }

            .fa-twitter {
                background-color: $twitter;
            }

            .fa-hatena {
                background-color: $hatena;
            }
        }

    }
}