@import '../base/utility-classes.scss';
@import '../base/variables2.scss';

.header {
    display: flex;
    background-color: $Gray;

    &-title {
        align-self: center;
        margin-left: 10px;
    }

    &-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;

        &__md {
            @include lg {
                display: none;
            }
        }

        &__sp {
            display: none;
            
            @include lg {
                display: block;
            }
        }

    }

    i {
        margin: 15px;
        color: white;
    }
}

.spnavMenu {
    z-index: 1;
    background-color: $darkGray;
    opacity: 0.9;
    position: fixed;
    right: -50%; // メニューバーを右に隠す
    height: 100vh;
    width: 50%;
    transition: 0.4s;
    overflow: scroll;

    &-search {
        margin: 10px;
        position: absolute;
    }

     ul {
        @include removeUlButtons();
        .childMenu a {
            color: gray;
        }
        li {
            padding: 10px;
            a {
                color: white;
            }
        }
    }
    
}

.openNav {
    right: 0%; // メニューバーを出す
    transition: 0.4s;
}

.search {
    display: none;
    height: 100vh;
    width: 100%;
    background-color: $darkGray;
    opacity: 0.8;
    padding-top: 30px;
    position: absolute;
    z-index: 1;
    
    input {
        font-size: 18px;
        width: 90%;
        margin: 0 auto;
    }
}

.openSearch {
    display: block;
}

.header-nav {
    position: relative;
    
    .parentMenu {
        position: relative;
        list-style: none;
        display: flex;
        margin-bottom: 0px;
        
        .menu-item {
            margin: 20px auto;
            letter-spacing: 0px;
            @include link(white);
            @include lg {
                display: none;
            }
            a {
                padding: 22px;
            }
        }
    }

    .childMenu {
        float: left;
        background-color: $darkGray;
        opacity: 0.8;
        position: absolute;
        z-index: 1;
        top: 98%;
        padding-left: 0;
        display: none;

        .menu-item {
            margin: 20px auto;
            @include removeUlButtons();
            min-width: 200px;
            padding-left: 0px;
            

            a {
                min-width: 200px;
                padding: 20px;
                color: white;
            }
        }

    }

    .menu-itemActive {
        display: block;
    }
}
