@import '../base/utility-classes.scss';
@import '../base/variables2.scss';

.article {
    margin: 0 auto;
    padding-bottom: 80px;

    &-archiveHeading {
        font-size: 23px;
    }

    &-item {
        border-radius: 5px;
        background-color: white;
        padding: 30px 70px 60px 70px;
        margin-bottom: 30px;

        @include spWidth();
    }

    &-title {
        @include link($lightGray);
        @include sm {
            line-height: 1.3;
        }
    }

    &-thumbnail {
        margin: 20px auto;
        img {
            @include thumbnailImg();
            @include sm {
                @include relatedImg();
            }
        }
    }

    &-metabox {
        color: $lightGray;

        &__date {
            font-size: 14px;
            letter-spacing: 0px;
            margin: 20px 0px;
        }

        &__description {
            margin: 20px 0px;
            p {
                @include sm {
                font-size: 15px;
                }
            }
        }
    }

    &-readmore {
        @include link($ctaGreen);
        text-align: right;
        font-size: 20px;
        letter-spacing: 2px;
    }

    &-search {
        margin: 0px auto 30px;
    }

}