@import '../base/utility-classes.scss';
@import '../base/variables2.scss';

.header {
    display: block;
    background-color: $Gray;
    position: relative;

    &-nav {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between; 
        color: white;
        z-index: 1;

        &__md {
            align-self: center;
            padding: 18px;
            @include lg() {
                display: none;
            }
        }

        &__sp {
            display: none;
            margin: 18px;
            align-self: center;
            @include lg() {
                display: block;
            }
        }
    }

    // ブログタイトルの中央よせ
    &-titlewrapper { 
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px 0;
    }

    // ブログタイトルのフォントデザイン
    &-title {
        margin: 0; //リセットCSSに入っている margin-top, margin-bottom の指定を0に
        font-family: cursive, serif; 
        @include md {
            font-size: 18px;
        }
        font-size: 28px; // デスクトップでのタイトルフォントサイズ
        color: white;
        text-decoration: none;
        line-height: 1.1;
    }

    &-pcMenu {
        width: 70%;
        align-self: left;
        height: 100%;

        .parentMenu {
            display: flex;
            justify-content: center; /* 水平方向の中央揃え */
            align-items: center; /* 垂直方向の中央揃え */
            position: absolute;
            height: 100%;
            font-weight: 600;
            margin: 0;

            @include removeUlButtons();

            @include lg {
                display: none;
            }
        }

        .menu-item {
            display: flex;
            justify-content: center; /* 水平方向の中央揃え */
            align-items: center; /* 垂直方向の中央揃え */
            position: relative;
            height: 100%;
            min-width: 120px;
            text-align: left;
            a {
                color: white;
                margin: 0 20px
            }
        }
        .childMenu {
            background-color: $darkGray;
            opacity: 0.8;
            position: absolute;
            z-index: 1;
            top: 100%;
            padding-left: 0;
            display: none;
            a {
                display: inline-block;            min-width: 200px;
                width: inherit;
                text-align: center;
                margin: 20px;
            }
            .menu-itemActive {
                display: block;
            }
        }



    }

    &-spMenu {
        z-index: 1;
        background-color: $darkGray;
        opacity: 0.9;
        position: fixed;
        right: -70%; // メニューバーを右に隠す
        height: 100vh;
        width: 70%;
        transition: 0.4s;
        overflow: auto;
        flex-direction: column;
    
        ul {
            @include removeUlButtons();
            .childMenu a {
                color: gray;
            }
            li {
                padding: 10px;
                a {
                    color: white;
                }
            }
        }
    }

    .menu-itemActive {
        display: block;
    }
}
.no-pointer-events * {
    pointer-events: none;
}

.openNav {
    right: 0%; // メニューバーを出す
    transition: 0.4s;
}

.search {
    display: none;
    height: 100vh;
    width: 100%;
    background-color: $darkGray;
    opacity: 0.8;
    padding-top: 30px;
    position: absolute;
    z-index: 1;
    
    input {
        font-size: 18px;
        width: 90%;
        margin: 0 auto;
    }
}

.openSearch {
    display: block;
}