@import '../base/utility-classes.scss';
@import '../base/variables2.scss';

.header {
    display: flex;
    background-color: $Gray;
    position: relative;

    &-nav {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between; 
        color: white;
        
        &__md {
            align-self: center;
            padding: 18px;
            @include lg() {
                display: none;
            }
        }

        &__sp {
            display: none;
            margin: 18px;
            align-self: center;
            @include lg() {
                display: block;
            }
        }
    }

    // ブログタイトルの中央よせ
    &-titlewrapper { 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // ブログタイトルのフォントデザイン
    &-title {
        margin: 0; //リセットCSSに入っている margin-top, margin-bottom の指定を0に
        font-family: cursive; 
        @include md {
            font-size: 18px;
        }
        font-size: 28px; // デスクトップでのタイトルフォントサイズ
        color: white;
        text-decoration: none;
    }

    .parentMenu {
        width: 70%;
        position: relative;
        list-style: none;
        display: flex;
        margin-bottom: 0px;
        align-self: center;
        
        @include sm {
            width: 0%;
        }
        
        .menu-item {
            letter-spacing: 0px;
            padding: 18px;
            @include link(white);
            @include lg {
                display: none;
            }
        }
    }

    .childMenu {
        float: left;
        background-color: $darkGray;
        opacity: 0.8;
        position: absolute;
        z-index: 1;
        top: 100%;
        padding-left: 0;
        display: none;

        .menu-item {
            @include removeUlButtons();
            min-width: 200px;
            padding-left: 0px;

            a {
                min-width: 200px;
                padding: 18px;
                color: white;
            }
        }

    }

    .menu-itemActive {
        display: block;
    }
}


.spnavMenu {
    z-index: 5;
    background-color: $darkGray;
    opacity: 0.9;
    position: absolute;
    right: -50%; // メニューバーを右に隠す
    height: 100%;
    width: 50%;
    transition: 0.4s;
    overflow: scroll;

    &-search {
        margin: 10px;
        position: absolute;
    }

     ul {
        @include removeUlButtons();
        .childMenu a {
            color: gray;
        }
        li {
            padding: 10px;
            a {
                color: white;
            }
        }
    }
    
}

.openNav {
    right: 0%; // メニューバーを出す
    transition: 0.4s;
}

.search {
    display: none;
    height: 100vh;
    width: 100%;
    background-color: $darkGray;
    opacity: 0.8;
    padding-top: 30px;
    position: absolute;
    z-index: 1;
    
    input {
        font-size: 18px;
        width: 90%;
        margin: 0 auto;
    }
}

.openSearch {
    display: block;
}