@import '../base/utility-classes.scss';
@import '../base/variables2.scss';

footer {
    background-color: white;

    .footerMenu {
        margin-bottom: 30px;
        padding: 80px 60px 50px 60px;
        color: $lightGray;
    
        &-title {
            text-align: center;
            letter-spacing: 1.7px;
            font-size: 20px;
            text-align: left;
        }
        
        &-content {
            li, p {
                margin: 7px auto;
            }

            ul {
                list-style: none;
            }
        }

        .profile {
            text-align: center;
    
            &-image {
                border-radius: 50%;
                width: 110px;

            }
        }
    
        p {
            font-size: 16px;
        }
    }

    .copyright {
        background-color: $darkGray;
    }

}