@import '../base/utility-classes.scss';
@import '../base/variables2.scss';

#toc {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    padding: 30px 20px;
    background-color: $veryLightGreen;

    ol { 
        @include removeUlButtons();
        margin-top: 10px;

        li {
            margin-top: 10px;
        }

        ol li {
            padding-left: 10%;
        }

        a {
            border-bottom: none;
            &:hover {
                opacity: 0.8;
            }
            @include sm()  {
                font-size: 16px;
            }
        }
    }

    // スマホのときは目次を閉じさせておく
    .toc-list {

        &__close {
            display: none;
        }

        &__open {
            display: block;
        }
    }

    .toc-title {
        display: flex;
        justify-content: center;
        color: $lightGreen;
        margin-bottom: 20px;

        &__contents {
            font-size: 30px;
            letter-spacing: 3px;
            @include sm()  {
                font-size: 25px;
            }
        }
    }

    .toc-oc {
        text-align: center;
        color: $lightGreen;
        margin-left: 10px;
        width: 60px;
        letter-spacing: 1.5px;
    }
}