@import 'variables2.scss';
@import 'utility-classes.scss';

  body {
    background-color: $veryLightGray;
    color: $lightGray;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    position: relative;
  }

  .active {
    overflow: hidden;
  }

  b, strong {
    margin: 0 2px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    color: $lightGray;
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }

  a:hover, a:focus {
    text-decoration: none;
    color: $lightGray;
    
    p, h1, h2, h3, h4, h5, h6, span { 
      opacity: 0.8;
    }

  }
  
  p {
    margin: 36px 0;
  }

  p, li {
    font-size: 18px;
  }

  p, h1, h2, h3, h4, h5, h6 {
    line-height: 2;
  }

  h2 {
    font-size: 25px;
  }

  main {
    padding-top: 40px;

    .container {
      @include sm {
        padding: 0;
      }
    }

  }

  input[type="text"] {
      padding: 10px;
      height: 50px;
  }

  /* 装飾class */
  .dashedLine {
    border: dashed 2px lightgray; width: 100%;
  }

  /* ショートコード */
  .ctaBtn {
    @include removeBtnDesign();
    // 中央よせ
    display: flex;
    justify-content: center;
    margin: 10px auto;
    // 文字
    color: white;
    font-weight: 700;
    letter-spacing: 1.5px;
    font-size: 17px;
    @include sm() {
      font-size: 15px;
    }
    // デザイン
    min-width: 60%;
    padding: 13px 15px 12px 15px;
    border-radius: 15px;
    background-color: $ctaGreen;
    &:hover {
      opacity: 0.8;
    }
  }

  /* dialogue */

  .dialogue {
    text-align: center;
    width: 100%;
    margin: 36px auto 80px auto;
    background-color: $veryLightGreen;
    padding: 4px 20px;
    border-radius: 5rem;
    position: relative;

    p {
      position: relative;
      z-index: 1;
    }

    &:after {
      content: '';
      display: block;
      z-index: 0;
      width: 65px;
      height: 65px; 
      background-color: $veryLightGreen;
      position: absolute;
      top: -12px;
      right: 30px;
      border-radius: 50%;
      box-shadow: 40px 40px 0 -2px $veryLightGreen;
    }

    &:before {
      content: '';
      width: 50px;
      height: 50px; 
      background-color: $veryLightGreen;
      position: absolute;
      bottom: -10%;
      left: 7%;
      border-radius: 50px;
      box-shadow: 40px 30px 0 -15px $veryLightGreen; //　真ん中したの小さい丸
      @include lg() {
      box-shadow: 
      -50px -40px 0 3px $veryLightGreen, // 左中の丸
      -35px -10px 0 7px $veryLightGreen, // 左中の丸
      40px 30px 0 -15px $veryLightGreen; //　真ん中したの小さい丸
      }
    }
 
  }

  // pにmargin36px指定しているので、blockquoteを使うと上の部分がうまく表示されないのを防ぐ
  blockquote {
    p {
      margin: 0px;
    }
  }

  // ブログカードのはみだし
  .wp-embedded-content {
    width: 100%;
  }