$Gray: #333333;
$darkGray: #2e2e2e;
$lightGray: #7b7b7b;
$veryLightGray: hsl(0, 0%, 92%);
$ctaGreen: #208997;
$darkCtaGreen: #1b7480;
$lightGreen: #78a2a7;
$veryLightGreen: #f2f7f8;
$darkGreen: #3d5e63;

/* shareボタン用色 */
$facebook: #4582d1;
$twitter: #35a7b6;
$hatena: #417ae4;

/* ボタン */
$ctaBtn: #208997;
